@import './base.css';

.rainbow-bg {
    background: linear-gradient(90deg, var(--red-cmyk), var(--dark-orange-web), var(--canary), var(--office-green), var(--risd-blue), var(--purple));
}

.rainbow-text {
    background-image: linear-gradient(90deg, var(--red-cmyk), var(--dark-orange-web), var(--canary), var(--office-green), var(--risd-blue), var(--purple));
    color: transparent;
    background-clip: text;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: Birthstone, sans-serif;
}
